.neonHeader {
    text-align: center; 
    font-family: 'Segoe UI', 'Roboto Mono', 'Consolas', monospace; 
    color: #ccf2ff;
    font-size: 4em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 50px 0 70px;

    text-shadow: 
        0 0 8px #00aaff,
        0 0 15px #00aaff,
        0 0 30px #0055ff;
}

.container {
    display: grid;
    width: 90%;
    max-width: 1400px; 
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(3, 1fr); 
    gap: 2px;
    
    margin: 5% auto 0;
    
    background-color: rgba(0, 0, 0, 0.8); 
    border: 1px solid #1100fc;
    border-radius: 5px;
    box-shadow: 
        0 0 5px rgb(255, 255, 255), 
        0 0 10px rgb(255, 255, 255) inset;
    padding: 1px;
}

.videos {
    background-color: #010101; 
    border: 1px solid #00dbf8; 
    border-radius: 3px;
    overflow: hidden;

    box-shadow: 
        0 0 5px rgba(253, 253, 255),
        0 0 10px rgba(255, 255, 255); 
        
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; 
    color: #00dbf8;
    text-shadow: 0 0 3px #00dbf8;
}

.videoFeed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

